*{
	margin: 0;
	padding: 0;
}
.jg07-tishi{
	width: 70rem;
	height: 2rem;
	display: flex;
	align-items: center;
	font-size: 0.6rem;
	color: #888888;
}
.jg07-warp{
	position: relative;
	width: 70rem;
}
.jg07-left{
	width: 50rem;
	background: #EBCCCC;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.jg07-title{
	width: 50rem;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 0.05rem solid #888888;
}
.jg07-title1{
	width: 46rem;
}
.jg07-title1>strong{
	font-size: 1.5rem;
	color: black;
}
.jg07-title2{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.jg07-title2>div{
	font-size: 0.8rem;
	color: #888888;
}
/**/
.jg07-font{
	width: 46rem;
	padding: 1rem 0rem;
	font-size: 1rem;
	color: black;
}
.detail{
	width: 46rem;
	height: 24rem;
}
.jg07-title3{
	padding-top: 1rem;
	font-size: 1.1rem;
	color: black;
}
.jg07-font1{
	width: 46rem;
	padding-bottom: 1rem;
	font-size: 1rem;
	color: black;
}
.jg07-title4{
	padding-bottom: 1rem;
	font-size: 1.1rem;
	color: black;
}
.jg07-ls{
	width:46rem;
	font-size: 1.1rem;
	color: black;
}
.jg07-bottom{
	width: 46rem;
	height: 8rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.jg07-bottom>div{
	display: flex;
	flex-wrap: wrap;
}
.jg07-bottom>div>a{
	font-size: 1.1rem;
	color: #888888;
}




/**/
.jg07-fd{
	position: fixed;
	top: 6rem;
	right: 9rem;
	border: 0.03rem solid #888888;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	border-radius: 0.3rem;
}
.jg07-fd-left{
	width: 4rem;
	height: 2.8rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0.2rem 0.5rem;
	border-right: 0.03rem solid #888888;
	background: #E4B9C0;
}
.jg07-fd-left>img{
	width: 1.5rem;
	height: 1.5rem;
}
.jg07-fd-left>p{
	font-size: 0.8rem;
	color: #888888;
}



.jg07-div{
	height: 0.2rem;
	width: 70rem;
}
